<a href="https://colab.research.google.com/github/quantumsloth/Hello-World/blob/main/30daybitcoin%20predictor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np
import pandas as pd

In [6]:
#Load the data
from google.colab import files # Use to load data on Google Colab
uploaded = files.upload() # Use to load data on Google Colab

Saving market-price (4).csv to market-price (4).csv

In [7]:
#Store the data into the variable df
df = pd.read_csv('market-price (4).csv')
df.head(7)

                  date  market-price
0  2020-03-24 00:00:00       6502.16
1  2020-03-25 00:00:00       6768.49
2  2020-03-26 00:00:00       6698.46
3  2020-03-27 00:00:00       6763.75
4  2020-03-28 00:00:00       6369.09
5  2020-03-29 00:00:00       6260.95
6  2020-03-30 00:00:00       5885.41

In [9]:
#Remove the Date column
df.drop(['date'], 1, inplace=True)

In [25]:
#Show the first 7 rows of the new data set
df.head(7)

   market-price
0       6502.16
1       6768.49
2       6698.46
3       6763.75
4       6369.09
5       6260.95
6       5885.41

In [14]:
#A variable for predicting 'n' days out into the future
prediction_days = 30 #n = 30 days

#Create another column (the target or dependent variable) shifted 'n' units up
df['Prediction'] = df[['market-price']].shift(-prediction_days)

In [12]:
#Show the first 7 rows of the new data set
df.head(7)

   market-price  Prediction
0       6502.16     7130.99
1       6768.49     7477.60
2       6698.46     7507.08
3       6763.75     7549.52
4       6369.09     7699.27
5       6260.95     7790.66
6       5885.41     7765.33

In [15]:
#Show the last 7 rows of the new data set
df.tail(7)

     market-price  Prediction
359      58913.00         NaN
360      57665.90         NaN
361      58075.10         NaN
362      58085.80         NaN
363      57411.17         NaN
364      54204.96         NaN
365      54477.46         NaN

In [38]:
#CREATE THE INDEPENDENT DATA SET (X)

# Convert the dataframe to a numpy array and drop the prediction column
X = np.array(df.drop(['Prediction'],1))

#Remove the last 'n' rows where 'n' is the prediction_days
X= X[:len(df)-prediction_days]
print(X)

[[ 6502.16]
 [ 6768.49]
 [ 6698.46]
 [ 6763.75]
 [ 6369.09]
 [ 6260.95]
 [ 5885.41]
 [ 6405.29]
 [ 6428.28]
 [ 6652.87]
 [ 6809.11]
 [ 6741.67]
 [ 6871.69]
 [ 6777.44]
 [ 7343.2 ]
 [ 7205.55]
 [ 7365.03]
 [ 7293.69]
 [ 6873.24]
 [ 6891.6 ]
 [ 6915.37]
 [ 6857.66]
 [ 6871.95]
 [ 6623.8 ]
 [ 7112.27]
 [ 7034.89]
 [ 7259.36]
 [ 7130.04]
 [ 6840.24]
 [ 6852.52]
 [ 7130.99]
 [ 7477.6 ]
 [ 7507.08]
 [ 7549.52]
 [ 7699.27]
 [ 7790.66]
 [ 7765.33]
 [ 8777.63]
 [ 8628.77]
 [ 8824.66]
 [ 8973.82]
 [ 8903.95]
 [ 8885.93]
 [ 9030.96]
 [ 9170.79]
 [10002.48]
 [ 9821.8 ]
 [ 9527.39]
 [ 8754.46]
 [ 8617.25]
 [ 8814.53]
 [ 9305.93]
 [ 9790.31]
 [ 9303.59]
 [ 9385.7 ]
 [ 9669.4 ]
 [ 9719.37]
 [ 9785.74]
 [ 9510.67]
 [ 9057.57]
 [ 9167.26]
 [ 9178.32]
 [ 8730.73]
 [ 8899.66]
 [ 8842.85]
 [ 9197.54]
 [ 9569.21]
 [ 9425.98]
 [ 9698.1 ]
 [ 9450.84]
 [10204.23]
 [ 9525.57]
 [ 9658.04]
 [ 9794.56]
 [ 9623.75]
 [ 9670.43]
 [ 9753.85]
 [ 9782.59]
 [ 9775.15]
 [ 9892.13]
 [ 9286.42]
 [ 9459.97]
 [ 9473.5 ]
 [ 9330.07]
 [ 9426.7 ]
 [ 9526.  ]
 [ 9454.81]
 [ 9380.03]
 [ 9300.15]
 [ 9357.43]
 [ 9284.78]
 [ 9691.9 ]
 [ 9621.49]
 [ 9276.58]
 [ 9240.85]
 [ 9154.45]
 [ 9004.23]
 [ 9127.47]
 [ 9185.35]
 [ 9133.97]
 [ 9236.38]
 [ 9087.98]
 [ 9072.42]
 [ 9131.31]
 [ 9089.09]
 [ 9348.91]
 [ 9256.23]
 [ 9440.07]
 [ 9238.04]
 [ 9287.4 ]
 [ 9235.96]
 [ 9295.9 ]
 [ 9238.13]
 [ 9254.52]
 [ 9193.51]
 [ 9131.  ]
 [ 9154.19]
 [ 9174.71]
 [ 9214.66]
 [ 9163.87]
 [ 9392.66]
 [ 9537.4 ]
 [ 9613.11]
 [ 9551.28]
 [ 9707.5 ]
 [ 9938.83]
 [11042.4 ]
 [10934.94]
 [11102.67]
 [11114.93]
 [11343.88]
 [11823.69]
 [11077.77]
 [11242.57]
 [11194.25]
 [11750.28]
 [11772.94]
 [11605.6 ]
 [11767.6 ]
 [11684.06]
 [11893.03]
 [11392.43]
 [11573.11]
 [11777.43]
 [11774.38]
 [11873.98]
 [11914.01]
 [12293.72]
 [11969.53]
 [11734.  ]
 [11865.82]
 [11522.8 ]
 [11683.44]
 [11653.02]
 [11763.93]
 [11337.4 ]
 [11467.37]
 [11302.01]
 [11534.75]
 [11481.64]
 [11707.78]
 [11659.57]
 [11923.25]
 [11397.44]
 [10187.51]
 [10467.89]
 [10159.62]
 [10254.93]
 [10367.74]
 [10121.52]
 [10227.83]
 [10352.66]
 [10395.44]
 [10446.44]
 [10330.77]
 [10674.64]
 [10785.62]
 [10948.43]
 [10943.89]
 [10931.79]
 [11081.43]
 [10919.65]
 [10430.46]
 [10532.22]
 [10234.48]
 [10732.43]
 [10692.84]
 [10732.4 ]
 [10774.24]
 [10692.33]
 [10840.8 ]
 [10777.92]
 [10619.24]
 [10575.06]
 [10551.77]
 [10673.46]
 [10788.56]
 [10603.74]
 [10670.8 ]
 [10923.3 ]
 [11063.19]
 [11302.67]
 [11376.61]
 [11540.04]
 [11428.24]
 [11431.32]
 [11503.73]
 [11327.57]
 [11366.51]
 [11508.2 ]
 [11758.16]
 [11925.46]
 [12831.56]
 [12990.25]
 [12944.52]
 [13128.46]
 [13036.77]
 [13076.37]
 [13651.47]
 [13289.  ]
 [13458.66]
 [13564.72]
 [13810.32]
 [13758.88]
 [13575.17]
 [14023.31]
 [14155.59]
 [15591.39]
 [15595.77]
 [14839.84]
 [15490.6 ]
 [15328.53]
 [15317.04]
 [15708.65]
 [16295.57]
 [16339.33]
 [16091.07]
 [15968.16]
 [16725.15]
 [17679.72]
 [17798.45]
 [17820.57]
 [18687.45]
 [18699.75]
 [18422.28]
 [18398.91]
 [19172.52]
 [18739.8 ]
 [17151.44]
 [17138.87]
 [17732.42]
 [18191.6 ]
 [19709.73]
 [18792.52]
 [19226.97]
 [19454.54]
 [18670.49]
 [19155.06]
 [19377.66]
 [19181.41]
 [18318.87]
 [18554.15]
 [18247.76]
 [18029.36]
 [18803.44]
 [19164.48]
 [19276.59]
 [19439.75]
 [21379.48]
 [22847.46]
 [23150.79]
 [23869.92]
 [23490.58]
 [22745.48]
 [23824.99]
 [23253.37]
 [23715.53]
 [24693.58]
 [26443.21]
 [26246.58]
 [27036.69]
 [27376.37]
 [28856.59]
 [28982.56]
 [29393.75]
 [32195.46]
 [33000.78]
 [32035.03]
 [34046.67]
 [36860.41]
 [39486.04]
 [40670.25]
 [40240.72]
 [38240.09]
 [35544.94]
 [34011.82]
 [37393.13]
 [39158.47]
 [36828.52]
 [36065.2 ]
 [35793.01]
 [36632.35]
 [36020.13]
 [35538.98]
 [30797.88]
 [33002.38]
 [32099.74]
 [32276.84]
 [32243.26]
 [32541.8 ]
 [30419.17]
 [33403.17]
 [34314.26]
 [34318.1 ]
 [33136.46]
 [33522.9 ]
 [35529.66]
 [37676.25]
 [37002.09]
 [38278.61]
 [39323.26]
 [38928.1 ]
 [46364.3 ]
 [46589.58]
 [44878.17]
 [48013.38]
 [47471.4 ]
 [47185.19]
 [48720.37]
 [47951.85]
 [49160.1 ]
 [52118.23]
 [51608.15]
 [55916.5 ]
 [56001.2 ]
 [57487.86]]

In [49]:
#CREATE THE DEPENDENT DATA SET (y) 
# Convert the dataframe to a numpy array (All of the values including the NaN's) y = np.array(df['Prediction'])  
# Get all of the y values except the last 'n' rows 
y = y[:-prediction_days] 
print(y)

[ 7130.99  7477.6   7507.08  7549.52  7699.27  7790.66  7765.33  8777.63
  8628.77  8824.66  8973.82  8903.95  8885.93  9030.96  9170.79 10002.48
  9821.8   9527.39  8754.46  8617.25  8814.53  9305.93  9790.31  9303.59
  9385.7   9669.4   9719.37  9785.74  9510.67  9057.57  9167.26  9178.32
  8730.73  8899.66  8842.85  9197.54  9569.21  9425.98  9698.1   9450.84
 10204.23  9525.57  9658.04  9794.56  9623.75  9670.43  9753.85  9782.59
  9775.15  9892.13  9286.42  9459.97  9473.5   9330.07  9426.7   9526.
  9454.81  9380.03  9300.15  9357.43  9284.78  9691.9   9621.49  9276.58
  9240.85  9154.45  9004.23  9127.47  9185.35  9133.97  9236.38  9087.98
  9072.42  9131.31  9089.09  9348.91  9256.23  9440.07  9238.04  9287.4
  9235.96  9295.9   9238.13  9254.52  9193.51  9131.    9154.19  9174.71
  9214.66  9163.87  9392.66  9537.4   9613.11  9551.28  9707.5   9938.83
 11042.4  10934.94 11102.67 11114.93 11343.88 11823.69 11077.77 11242.57
 11194.25 11750.28 11772.94 11605.6  11767.6  11684.06 11893.03 11392.43
 11573.11 11777.43 11774.38 11873.98 11914.01 12293.72 11969.53 11734.
 11865.82 11522.8  11683.44 11653.02 11763.93 11337.4  11467.37 11302.01
 11534.75 11481.64 11707.78 11659.57 11923.25 11397.44 10187.51 10467.89
 10159.62 10254.93 10367.74 10121.52 10227.83 10352.66 10395.44 10446.44
 10330.77 10674.64 10785.62 10948.43 10943.89 10931.79 11081.43 10919.65
 10430.46 10532.22 10234.48 10732.43 10692.84 10732.4  10774.24 10692.33
 10840.8  10777.92 10619.24 10575.06 10551.77 10673.46 10788.56 10603.74
 10670.8  10923.3  11063.19 11302.67 11376.61 11540.04 11428.24 11431.32
 11503.73 11327.57 11366.51 11508.2  11758.16 11925.46 12831.56 12990.25
 12944.52 13128.46 13036.77 13076.37 13651.47 13289.   13458.66 13564.72
 13810.32 13758.88 13575.17 14023.31 14155.59 15591.39 15595.77 14839.84
 15490.6  15328.53 15317.04 15708.65 16295.57 16339.33 16091.07 15968.16
 16725.15 17679.72 17798.45 17820.57 18687.45 18699.75 18422.28 18398.91
 19172.52 18739.8  17151.44 17138.87 17732.42 18191.6  19709.73 18792.52
 19226.97 19454.54 18670.49 19155.06 19377.66 19181.41 18318.87 18554.15
 18247.76 18029.36 18803.44 19164.48 19276.59 19439.75 21379.48 22847.46
 23150.79 23869.92 23490.58 22745.48 23824.99 23253.37 23715.53 24693.58
 26443.21 26246.58 27036.69 27376.37 28856.59 28982.56 29393.75 32195.46
 33000.78 32035.03 34046.67 36860.41 39486.04 40670.25 40240.72 38240.09
 35544.94 34011.82 37393.13 39158.47 36828.52 36065.2  35793.01 36632.35
 36020.13 35538.98 30797.88 33002.38 32099.74 32276.84 32243.26 32541.8
 30419.17 33403.17 34314.26 34318.1  33136.46 33522.9  35529.66 37676.25
 37002.09 38278.61 39323.26 38928.1  46364.3  46589.58 44878.17 48013.38
 47471.4  47185.19 48720.37 47951.85 49160.1  52118.23 51608.15 55916.5
 56001.2  57487.86]

In [48]:
# Split the data into 80% training and 20% testing
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [47]:
# Set prediction_days_array equal to the last 30 rows of the original data set from the price column
prediction_days_array = np.array(df.drop(['Prediction'],1))[-prediction_days:]
print(prediction_days_array)

[[54123.4 ]
 [48880.43]
 [50624.84]
 [46800.42]
 [46340.31]
 [46155.87]
 [45113.92]
 [49618.43]
 [48356.04]
 [50477.7 ]
 [48448.91]
 [48861.38]
 [48881.59]
 [51169.7 ]
 [52299.33]
 [54881.52]
 [55997.23]
 [57764.  ]
 [57253.28]
 [61258.73]
 [59133.47]
 [55754.72]
 [56872.38]
 [58913.  ]
 [57665.9 ]
 [58075.1 ]
 [58085.8 ]
 [57411.17]
 [54204.96]
 [54477.46]]

In [46]:
from sklearn.svm import SVR
# Create and train the Support Vector Machine 
svr_rbf = SVR(kernel='rbf', C=1e3, gamma=0.00001)#Create the model
svr_rbf.fit(x_train, y_train) #Train the model

SVR(C=1000.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma=1e-05,
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [45]:
# Testing Model: Score returns the accuracy of the prediction. 
# The best possible score is 1.0
svr_rbf_confidence = svr_rbf.score(x_test, y_test)
print("svr_rbf accuracy: ", svr_rbf_confidence)

svr_rbf accuracy:  0.3599413529002047

In [50]:
# Print the predicted value
svm_prediction = svr_rbf.predict(x_test)
print(svm_prediction)

print()

#Print the actual values
print(y_test)

[11170.03069204 14583.33904558 11345.69289209 10534.33187292
 17940.15459454 12148.47651462  9851.61961044 18959.02210983
 23159.02010276 11366.94975412 12108.26074352 11915.59547724
 22619.42107295  9376.49266567 21850.55460884 11442.53114601
 17879.18610502 19164.38034624 10239.60035052 10735.46937553
 11970.21320421  9436.30561613  9181.96062393 18399.0102006
 18627.70094483 11582.10752005 11354.0331719  24222.54739718
 11115.59067756  9510.76942983 21830.15541753 21105.23311199
 20008.79687435 11726.57850855 21401.54764154 13824.47271123
 11738.72542763 18963.51015117 20906.91493914 21620.7279736
 13932.62429862 19181.31034802  9390.84925974 10461.08786137
 18687.55027865 23253.26986413 24555.76846139 13453.65128074
 12426.97758069 11829.85193092 11728.73802532 20643.69814675
 22802.33345705 11724.81451747 12647.88183736 16819.26248937
 11647.84816516  9440.61750361 10302.06532978 14180.92978263
 11148.62819969 19275.51618415 11589.03716485 10076.23656309
 20091.68979728 10926.29276159 11228.55452974 10375.87122602]

[11337.4   7699.27  9303.59 10204.23 19226.97 11302.67  7477.6  18029.36
 35544.94 16091.07  9892.13 17820.57 55916.5   9133.97 30797.88 10692.33
 17138.87 19164.48  9170.79 10159.62 15490.6   9526.    9131.   18398.91
 19172.52 16339.33  8899.66 34046.67 11774.38  9510.67 51608.15 35538.98
 58085.8  11063.19 48720.37 13076.37 10187.51 19377.66 52299.33 47951.85
 15595.77 19181.41  9072.42  7507.08 18687.45 23253.37 29393.75 12990.25
 11376.61 11481.64 11397.44 32243.26 23869.92 15328.53 11508.2  10948.43
 10575.06  9348.91  9821.8   9197.54 11102.67 19454.54 16295.57  9719.37
 39323.26  9794.56 15708.65  9330.07]

In [52]:
# Print the model predictions for the next 'n=30' days
svm_prediction = svr_rbf.predict(prediction_days_array)
print(svm_prediction)

[18934.6580593  20166.61481568 18934.72127394 19963.66335042
 20466.93216914 19734.74744439 19508.28252274 19057.3475312
 19510.8695957  18934.66090704 19569.71897567 20164.79129823
 20166.69615389 19081.03969231 19663.45989369 18934.68033897
 19871.56311601 19401.14138814 19511.44765339 18934.6580593
 18934.6580593  19704.37866171 18957.4029616  18934.65806081
 19663.00162151 18966.45108992 18962.66445335 19877.54060235
 18934.6580593  18934.65806031]

In [53]:
#Print the actual price for the next 'n' days, n=prediction_days=30 
df.tail(prediction_days)

     market-price  Prediction
336      54123.40         NaN
337      48880.43         NaN
338      50624.84         NaN
339      46800.42         NaN
340      46340.31         NaN
341      46155.87         NaN
342      45113.92         NaN
343      49618.43         NaN
344      48356.04         NaN
345      50477.70         NaN
346      48448.91         NaN
347      48861.38         NaN
348      48881.59         NaN
349      51169.70         NaN
350      52299.33         NaN
351      54881.52         NaN
352      55997.23         NaN
353      57764.00         NaN
354      57253.28         NaN
355      61258.73         NaN
356      59133.47         NaN
357      55754.72         NaN
358      56872.38         NaN
359      58913.00         NaN
360      57665.90         NaN
361      58075.10         NaN
362      58085.80         NaN
363      57411.17         NaN
364      54204.96         NaN
365      54477.46         NaN